.cart {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 23%;
  max-width: 33%;
  max-height: 63%;
  background-color: var(--light);
  overflow: auto;
  padding: .44rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .33);
  border-bottom-left-radius: .5rem;
}

.cart h2 {
  font-size: 1.43rem;
  border-bottom: 1.2px solid var(--dark);
  padding-bottom: .49rem;
  margin: 1rem 0;
}

.cart .close {
  position: absolute;
  top: .44rem;
  right: .44rem;
  cursor: pointer;
  color: var(--tertiary);
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  position: fixed;
  top: 2.16%;
  right: 1.01%;
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 50%;
  padding: .33rem;
  width: 48px;
  height: 48px;
}

.cart-closed:hover {
  transform: rotate(8deg);
}

.cart img {
  width: 67px;
  margin-right: 1rem;
}

.cart input {
  width: 50.0px;
  padding: 0;
  margin: 0 .5rem 1rem 0;
}

@media screen and (max-width: 768px) {
  .cart {
    position: relative;
    max-width: 100%;
    max-height: auto;
    box-shadow: none;
    background-color: inherit;
  }

  .cart-closed {
    position: relative;
    margin: 0 auto;
  }
}